body{
    font-family: 'Roboto Slab', serif;
    margin: 0%;
   
  
    
}
h1{
    font-size: 60px;
    
    position: relative;
    top: 100px;
    font-weight: bolder;
}
h4{
    position: relative;
    top: 80px;
}
span{
    color: orange;
  
}

.flex{
    display: flex;   
  
}

.half-width{
    width: 60%px;
    padding-left: 100px;   
}
.half-width img
{
   position: relative;
   bottom: 20px;
   padding-left: 50px;
  
    
}
.first{
    position: relative;
    top: 100px;
}

.small{
    padding-left: 50%;
}

.Button-one{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato); 
    color: aliceblue;  
    font-weight: 700px;
    padding: 15px 35px;
    border-radius: 30px; 
    position: relative;
    top: 15px;
   
}
h1{
    margin-bottom: 150px;
}
.image-fix img{
    width: 40%;
    padding-left: 20%;
    margin-top: 13%
   
}
.text-fix{
    width: 60%;
     
 

}
.Button-two{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato); 
    color: aliceblue;  
    font-weight: 700px;
    padding: 20px 40px;
    border-radius: 30px;  
    position: relative;
    top: 20px;
    
   
   
}
.bg-color {
   background-image: url(images/shapes/Frame\ 59.jpg)
   
  
   
   

}