body{
    font-family: 'Otomanopee One', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 110%;
    padding-left: 20px;
}
#single-text{
    color: chocolate;
    font-family:  'Otomanopee One', sans-serif;
}
          
.Button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato); 
    color: aliceblue;  
    font-weight: 700px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 30px;
}